
body {
	font-family: Georgia;
	align-content: center;
	background-color: darkblue;
}
.heading {
	font-family: 'Electrolize', sans-serif;
	text-align: center;
	font-size: 52px;
	color: blue;
}
.mainContent {
	border: 1px solid black;
	padding-bottom: 20px;
	width: 760px;
	background-color: lightyellow;
	margin: 0 auto 0 auto;
	text-align: center;
}
p {
	font-size: 18px;
	
}